@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /* Common */
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Dark Theme Colors */
  --main-background-color-dark: #444654;
  --side-background-color-dark: #202123;
  --main-text-color-dark: #ffffff;
  --link-color-dark: #fff;
  --link-hover-color-dark: #535bf2;
  --grey-05-dark: #3a3b3f;
  --grey-005-dark: rgba(255, 255, 255, 0.05);
  --grey-08-dark: rgba(255, 255, 255, 0.8);
  --bot-background-dark: #343540;
  --user-background-dark: #444654;

  /* Light Theme Colors */
  --main-background-color-light: #ffffff;
  --side-background-color-light: #e7e5e5;
  --main-text-color-light: #213547;
  --link-color-light: #213547;
  --link-hover-color-light: #535bf2;
  --grey-05-light: rgba(23, 14, 14, 0.5);
  --grey-005-light: rgba(255, 255, 255, 0.05);
  --grey-08-light: rgba(55, 36, 36, 0.8);
  --bot-background-light: #c8c1c1;
  --user-background-light: #ffffff;

  /* Default to Dark Theme */
  --main-background-color: var(--main-background-color-dark);
  --side-background-color: var(--side-background-color-dark);
  --main-text-color: var(--main-text-color-dark);
  --link-color: var(--link-color-dark);
  --link-hover-color: var(--link-hover-color-dark);
  --grey-05: var(--grey-05-dark);
  --grey-005: var(--grey-005-dark);
  --grey-08: var(--grey-08-dark);
  --bot-background: var(--bot-background-dark);
  --user-background: var(--user-background-dark);
  --background-switch: #28096b;
}
[data-theme="light"] {
  --main-background-color: var(--main-background-color-light);
  --side-background-color: var(--side-background-color-light);
  --main-text-color: var(--main-text-color-light);
  --link-color: var(--link-color-light);
  --link-hover-color: var(--link-hover-color-light);
  --grey-05: var(--grey-05-light);
  --grey-005: var(--grey-005-light);
  --grey-08: var(--grey-08-light);
  --bot-background: var(--bot-background-light);
  --user-background: var(--user-background-light);
}
*,
html,
body {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}
button {
  border-radius: 5px;
  border: 0.5px solid var(--grey-05);
  background-color: transparent;
  color: var(--main-text-color);
  padding: 10px;
  margin: 10px;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
nav {
  padding: 10px;
  margin: 10px;
}
input {
  width: 100%;
  border: none;
  background-color: var(--grey-005);
  color: var(--main-text-color);
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px, rgba(0, 0, 0, 0.05) 0 12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px, rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px;
  font-size: 20px;
}

.app {
  display: flex;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.side-bar {
  background-color: var(--side-background-color);
  height: 100vh;
  width: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-bar button {
  text-align: left;
}

.history {
  padding: 10px;
  margin: 10px;
  height: 100%;
  overflow-y: auto;
}

.history li {
  list-style-type: none;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: 100%; /* adjust this to your preferred maximum width */
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin-bottom: 10px; /* some space between list items */
}

.history li:hover {
  background-color: var(--grey-05);
  border-radius: 10px;
}

.history li span {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history svg {
  padding-right: 5px;
  padding-top: 5px;
  width: 25px;
}

.info {
  color: var(--grey-08);
  font-size: 11px;
  padding: 10px;
}
.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-container {
  position: relative;
  width: 100%;
  max-width: 650px;
}

#submit {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  width: 15px;
}

.feed {
  width: 100%;
  padding: 0;
  overflow-y: auto;
}
.feed li {
  display: flex;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
}
.feed p {
  color: var(--grey-08);
  font-size: 14px;
}

.feed p.role {
  min-width: 100px;
}

.plus {
  font-size: 1.2em;
  padding-right: 5px;
}
.user {
  background-color: var(--user-background);
}

.bot {
  background-color: var(--bot-background);
}
.toggle {
  position: absolute;
  right: 0;
  top: 10px;
}
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-switch);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--background-switch);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #2580cb;
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}
